<!DOCTYPE html>
<html>

<head>
    <title>Angular JS</title>
    <meta charset="utf-8">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </meta>
    <script src="js/angular.min.js"></script>
    <script src="js/custom.js"></script>
</head>

<body>
    <h1>Hello Everyone</h1>
    <p>Welcome to Angular Tutorial</p>
    <h3>What is Angular?</h3>
    <div ng-app="myApp" ng-controller="firstController" ng-init="Quantity=2; price= 10;person=['Yogesh','Rakesh',' Mahesh','Jayesh','Suresh']; persons={firstname: 'Yogesh', lastname: 'Salvi'}">
        <p>Total price is : {{Quantity * price}}</p>
        <p>Items in Array are : {{person[0] + " " + persons.lastname }}</p>
        <p>Uppercase filter : {{persons.lastname | uppercase}}</p>
        <p>Filter containing letter y is : {{person | filter: 'y'}}</p>
        <p>Currency filter : {{price | currency }}</p>
        <li ng-repeat="x in color">{{x}}</li>
        <p>Name : <input type="text" ng-model="name"></p>
        <h1 ng-click="changeName()">{{name}}</h1>
        <select ng-model="color">
            <option>Blue</option>
            <option>Red</option>
            <option>Black</option>
            <option>Orange</option>
            <option>Yellow</option>
        </select>
        </br>
        <p>Background will change to : <input type="text" style="background-color: {{color}}"></p>
        <p>Color is : <span ng-bind="color"></span></p>
    </div>
</body>

</html>