<!DOCTYPE html>
<html>

<head>
    <title>Angular JS</title>
    <meta charset="utf-8">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </meta>
    <script src="js/angular.min.js"></script>
    <script src="js/custom.js"></script>
</head>

<body>
    <h1>Hello Everyone</h1>
    <p>Welcome to Angular Tutorial</p>
    <h3>What is Angular?</h3>
    <div ng-app="myApp" ng-init="number=50;name='Yogesh Salvi';color=['Yellow','Green','Red','Orange']">
        <p>Name: {{name}}, Number: {{number}}</p>
        <li ng-repeat="x in color">{{x}}</li>
        <!-- <p>Name : <input type="text" ng-model="name"></p>
        <h1>Hello {{name}}</h1>
        <select ng-model="color">
            <option>Blue</option>
            <option>Red</option>
            <option>Black</option>
            <option>Orange</option>
            <option>Yellow</option>
        </select>
        </br>

        <p>Background will change to : <input type="text" style="background-color: {{color}}"></p>
        <p>Color is : <span ng-bind="color"></span></p> -->
    </div>
</body>

</html>